<module name="gyroscope" version="1.0">
	<tables>
		<table>
			<name>gyroscope</name>
			<columns>
				<column unit="radians/second">
					<name>rotationX</name>
					<type>real</type>
				</column>
				<column unit="radians/second">
					<name>rotationY</name>
					<type>real</type>
				</column>
				<column unit="radians/second">
					<name>rotationZ</name>
					<type>real</type>
				</column>
				<column unit="radians/second">
					<name>driftX</name>
					<type>real</type>
				</column>
				<column unit="radians/second">
					<name>driftY</name>
					<type>real</type>
				</column>
				<column unit="radians/second">
					<name>driftZ</name>
					<type>real</type>
				</column>
			</columns>
		</table>
	</tables>
</module>	
